<div class="app-content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-xs-8 col-sm-8 offset-2">
        <div class="">
          <div class="card card-success card-outline mb-4">
            <div class="card-header">
              <div class="card-title">Ajouter un nouveau stock</div>
            </div>

            <form (ngSubmit)="ajouterProduit()">
              <div class="card-body">
                <div class="input-group mb-3">
                  <span class="input-group-text">Désignation</span>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nom du produit"
                    [(ngModel)]="name"
                    name="name"
                    required
                  />
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text">Quantité</span>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Ajouter une quantité"
                    [(ngModel)]="quantite"
                    name="quantite"
                    required
                  />
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text">Nombre de cartons</span>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Nombre de cartons"
                    [(ngModel)]="cartons"
                    name="cartons"
                    required
                  />
                </div>
              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-success">Sauvegarder</button>
              </div>
            </form>
          </div>
        </div>

        <div class="card-footer clearfix">
          <ul class="pagination pagination-sm m-0 float-end">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
