<div class="app-content-header" >
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->

      <!--end::Row-->
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="card mb-4">
            <div class="card-header d-flex align-items-center">
                <h3 class="card-title mb-0">Gestion des utilisateurs</h3>
                <button class="btn btn-primary ms-auto">Ajouter un utilisateur</button>
              </div>
              
            <!-- /.card-header -->
            <div class="card-body" >
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Username</th>
                    <th>e-mail</th>
                    <th >actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="align-middle" *ngFor="let user of users; let i = index">
                    <td>{{ i + 1 }}.</td>
                    <td>{{ user.username }}</td>
                    <td>
                      {{ user.email }}
                    </td>
                    <td>
                      <button class="btn btn-sm btn-warning me-1">
                        <i class="bi bi-edit"></i> Éditer
                      </button>
                      <button class="btn btn-sm btn-danger">
                        <i class="bi bi-trash-alt"></i> Supprimer
                      </button>
                    </td>
                  </tr>
                  
              
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-end">
                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
              </ul>
            </div>
          </div>
     
        </div>
        <!-- /.col -->

        <!-- /.col -->
      </div>
    <!--end::Container-->
  </div>
